.hex-grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 4px 12px;
  width: fit-content;
  background-color: lightgray;
  padding: 4px;
  border-radius: 4px;
  font-size: 1.2rem;
}

.text-grid {
  grid-gap: 4px 4px;
  margin-left: 16px;
}

.container {
  display: flex;
  font-family: monospace;
}

.grid-item {
  cursor: pointer;
  text-align: center;
}

.grid-item:hover {
  background-color: darkgrey;
}

.selected-item {
  background-color: red;
  border-radius: 4px;
}
